<form
[formGroup]="loginForm"
(ngSubmit)="onSubmit()"
class="flex flex-col gap-4 w-80">
  <div class="flex flex-col gap-2">
    <label class="title">Logowanie</label>
    <label class="subtitle">Miło Cię widzieć, zapraszamy.</label>
    <label for="username">Nazwa Użytkownika</label>
    <input id="username" hlmInput formControlName="username">
  </div>
  <div class="flex flex-col gap-2">
    <label for="password">Hasło</label>
    <input id="password" hlmInput formControlName="password">
  </div>
  <span class="flex gap-4 items-center">
    <hlm-checkbox id="remember-me" formControlName="rememberMe"/>
    <label for="remember-me">Zapamiętaj mnie</label>
  </span>
  <button
    [disabled]="loginLoading()"
    id="sign-in"
    hlmBtn
    type="submit"
    class="relative">
    <span class="btn-text">Zaloguj</span>
  </button>
</form>
