<div class="title">
  <a translate="home.promoted-recipes"></a>
</div>
<div class="card-list-container">
  <div class="card-list">
      @if (recipes$ | async; as recipes) {
          @for (recipe of recipes; track recipe.id) {
            <app-recipe-card-item
              [recipe]="recipe" [routerLink]="'/recipe/' + recipe.id"
              [showDetails]="false"
              class="bg-none hover:bg-foreground/[0.15]"
            >
            </app-recipe-card-item>
          }
      }
  </div>
</div>
<app-search></app-search>


