<div class="title">
  <a translate="header.nav.recipes"></a>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div formArrayName="dishes" class="dishes">
    @for (d of dishesFormArray.controls; track d; let i = $index) {
      <span class="dish">
        <hlm-checkbox [formControlName]="i"/>
        {{dishes[i].name}}
      </span>
    }
  </div>

  <div formArrayName="diets" class="diets">
    @for (c of dietsFormArray.controls; track c; let i = $index) {
      <span class="diet">
        <hlm-checkbox [formControlName]="i"/>
        {{diets[i].name}}
      </span>
    }
  </div>

  <div formArrayName="tags" class="tags">
    @for (t of tagsFormArray.controls; track t; let i = $index) {
      <span class="tag">
        <hlm-checkbox [formControlName]="i"/>
        {{tags[i].name}}
      </span>
    }
  </div>

  <button hlmBtn type="submit" [disabled]="form.invalid" class="bg-lime-500 hover:bg-lime-400">
    <hlm-icon size="sm" class="mr-2" name="lucideFilter" strokeWidth="3"/>
    <span translate="filter.btnFilter" class="tracking-[.0625rem] uppercase p-1 text-base font-bold"></span>
  </button>

</form>


<div class="card-list-container">
  <div class="card-list">
      @if (recipes$ | async; as recipes) {
          @for (recipe of recipes; track recipe.id) {
            <app-recipe-card-item [recipe]="recipe" [routerLink]="'/recipe/' + recipe.id"></app-recipe-card-item>
          }
      }
  </div>
</div>
