<div class="flex justify-between">
  <div class="flex flex-col gap-1">
        <p class="comment-section-created-by">
          <span class="font-bold">{{comment.createdBy.firstName + " " + comment.createdBy.lastName}}</span>
        </p>
        <p class="comment-section-create-date">{{comment.createdDate | toDate}}</p>
  </div>
  <button hlmBtn variant="ghost" [brnMenuTriggerFor]="menuComment">
    <hlm-icon size="sm" class="mr-2" name="lucideMoreHorizontal"></hlm-icon>
  </button>
</div>
@if (comment.lastModifiedBy) {
  <div class="flex flex-col gap-1">
         <p class="comment-section-last-created-by">
            <span translate="recipe-details.comment-section.last-modified-by"></span>
            <span>{{comment.lastModifiedBy.firstName + " " + comment.lastModifiedBy.lastName}}</span>
        </p>
        <p class="comment-section-last-modify-date">
          <span translate="recipe-details.comment-section.last-modified-date"></span>
          <span>{{comment.lastModifiedDate | toDate}}</span>
        </p>
  </div>
}

@if (isEditing.value) {
  <form [formGroup]="form" (ngSubmit)="editComment()">
    <textarea
      class="min-h-10 recipe-add-component-input"
      hlmInput
      formControlName="comment"
      [placeholder]="'recipe-details.comment-section.placeholder' | translation | async"
      (keydown.escape)="toggleEdit()"
      (keydown.enter)="editComment()"
    ></textarea>
    <span>Naciśnij escape, aby wyjść z trybu edycji</span>
    <button hlmBtn type="submit" variant='ghost' [disabled]="form.invalid">
      <hlm-icon size="sm" class="mr-2" name="lucidePlus" strokeWidth="3"/>
      <span translate="recipe-details.comment-section.btn" class="comment-section-btn-send"></span>
    </button>
  </form>
} @else {
  <p class="comment-section-content pt-2 text-justify">{{comment.content}}</p>
}

<ng-template #menuComment>
  <hlm-menu>
    <hlm-menu-group>
      @if (canUserModifyComment()) {
        <button hlmMenuItem (click)="toggleEdit()">
                <span>Edytuj</span>
        </button>
        <button hlmMenuItem (click)="deleteComment()">
          <span>Usuń</span>
        </button>
      }
        <button hlmMenuItem (click)="copy()">
          <span>Kopiuj</span>
        </button>

    </hlm-menu-group>
  </hlm-menu>
</ng-template>
