<form
[formGroup]="registerForm"
(ngSubmit)="onSubmit()"
class="flex flex-col gap-4 w-80">
  <div class="flex flex-col gap-2">
    <label class="title" translate="register.title"></label>
    <label class="subtitle" translate="register.subtitle"></label>
    <label for="email" translate="register.email"></label>
    <input
      type="email"
      id="email"
      hlmInput
      formControlName="email"
      [error]='hasEmailError()'
      [placeholder]="'register.password' | translation | async"
      autofocus
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="password" translate="register.email"></label>
    <input
      type="password"
      id="password"
      hlmInput
      formControlName="password"
      [error]='hasPasswordError()'
      [placeholder]="'register.password' | translation | async"
    />
  </div>
  <button
    [disabled]="registerLoading() || !registerForm.valid"
    id="sign-in"
    hlmBtn
    type="submit"
    class="relative">
    <span class="btn-text" translate="register.submit"></span>
  </button>
</form>
